*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: Arial, Helvetica, sans-serif;
  }

  nav{
  float: left;
  width: 15%;
  height: 600px; 
background-color: lightgray;
  padding: 30px;
  }
  
  nav ul{
    list-style-type: none;
    padding: 0;
  }
  
  li a{
    text-decoration: none;
    line-height: 2.5;
    color: rgba(5, 5, 5, 0.83);
    font-weight: bold;
  }
  
  ul li {
    margin-right: 20px;
  }
  
  li a:hover{
    color: red;
  }
  
  h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
  }
  h2{
 text-align: center; 

  }
  
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  
  