body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('gambar.jpeg');
    background-size: 1350px 800px;  
    background-position: center;
    background-repeat: no-repeat;
}
.container {
  padding: 30px;
  margin: 0;
    height: 100vh;
    width: 100vw;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal-content {
  background-color: violet;
  margin: 5% auto 15% auto; 
  border: 0px solid #888;
  width: 30%; 
}

.login-container {
    background: linear-gradient(to right, #c3ddeb, #eee3ec);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
 }
  .cancelbtn {
     width: 100%;
  }

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
