*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: Arial, Helvetica, sans-serif;
  }

  nav{
  float: left;
  width: 15%;
  height: 600px; 
background-color: lightgray;
  padding: 30px;
  }
  
  nav ul{
    list-style-type: none;
    padding: 0;
  }
  
  li a{
    text-decoration: none;
    line-height: 2.5;
    color: rgba(5, 5, 5, 0.83);
    font-weight: bold;
  }
  
  ul li {
    margin-right: 20px;
  }
  
  li a:hover{
    color: red;
  }
  
  h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
  }
  h2{
 text-align: center; 

  }
  
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  
  
  }
  
  footer{
    height: 60px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(35, 162, 241) 17.8%, rgb(40, 136, 188) 100.2% );
    padding: 20px;
    text-align: center;
  }
  
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 0px 0px;
    background-color: inherit;
    font-family: inherit;
    font-weight: bold;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: rgb(243, 249, 250);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #184f59;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
  }
  
  .dropdown-content a:hover {
    background-color: #203775;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  
  }
* {
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse; 
  margin-top: 20px; 
}

caption {
  font-size: 1.5em; 
  margin-bottom: 10px; 
}

thead {
  background-color: #2ac8d6; 
}

th {
  padding: 10px;
  text-align: right;
  border-bottom: 1px solid #1b1717; 
}

tbody {
  font-size: 0.9em; 
}

tbody tr:nth-child(even) {
  background-color: #f0f2f9; 
}
td {
  padding: 10px;
  border-bottom: 1px solid #080808; 
}
.container {
  width: 80%;
  margin: auto; 
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0px; 
}
th, td {
border: 1px solid #3362af;
  text-align: left;
  text-align: center;
}

padding: 8px;

tr:nth-child(even) {
  background-color: #1e65b1;
}
th {
  background: linear-gradient(to right, #071a41, #27293d, #20265b);
  color: rgb(237, 237, 241);
  }
.aksi {
  white-space: nowrap; 
}
.aksi button {
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 14px;
}
.ubah {
  background-color: #06515c;
  color: white;
}
.hapus {
  background-color: red;
  color: white;
}
.tambah{
  background-color: #097477;
  color:white; 
}
.ubah:hover, .hapus:hover , .tambah:hover{
  opacity: 0.8; 
}
